/*==================== VARIABLES CSS ====================*/
:root {
    --main5: #46484d;
    --main4: #005734;
    --main3: #008655;
    --main2: #d9d9d9;
    --main1: #ededed;}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-webkit-scrollbar-thumb {
    background-color: #d9dbdc;
    box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;}

body {font-family: "Montserrat", Arial, Verdana, Geneva, Helvetica, sans-serif;}

/*================= Barre de navigation =================*/
.name-school {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--main5);}
.name-user {
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;}
.btn-logout {
    padding: 0!important;
    margin: 0!important;
    border: 0!important;}
.btn-logout:active {border: 0!important;}
.icon-logout {color: var(--main4)!important;}
.icon-logout:hover {text-shadow: var(--main3) 1px 0 5px !important;}
nav {
    background-color: var(--main5)!important;
    padding: 0!important;}
nav ul li a:not(nav .dropdown-menu a) {
    padding-top: 8px!important;
    padding-bottom: 5px!important;
    color: white!important;
    border-bottom: 4px solid var(--main5)!important;}
nav ul li a:hover:not(nav .dropdown-menu a) {
    color: var(--main5)!important;
    background-color: white!important;
    border-bottom: 4px solid var(--main3)!important;}
nav ul .dropdown-menu a {
    padding: 2px 14px 2px 10px!important;
    border-left: 4px solid white!important;}
nav ul .dropdown-menu a:hover {border-left: 4px solid var(--main3)!important;}
.choice-bar {
    background-color: var(--main2)!important;
    padding: 5px 10px;}
.choice-title {
    font-weight: bold;
    color: var(--main4);
    padding-right: 10px;}
input[type="radio"]:checked + .btn {
    padding: 2px 5px!important;
    font-size: 0.79rem;
    border-color: var(--main4);
    background-color: var(--main4);
    color: var(--main1);}
input[type="radio"] + .btn, input[type="radio"] + .btn:hover {
    padding: 2px 5px!important;
    font-size: 0.79rem;
    border-color: var(--main4);}
.choice-bar select {
    font-size: 0.81rem;
    border: 1px solid var(--main3);
    padding-top: 0.075rem!important;
    padding-bottom: 0.075rem!important;}
.choice-bar #eleves {font-weight: 900;}

/*============= Informations personnelles ===============*/
.nom-col-compte {
    font-weight: 900;
    text-transform: uppercase;}

/*================== Page de connexion ==================*/
.button-login {
    border-color: var(--main4);
    color: var(--main4);}
.button-login:hover {
    border-color: var(--main4);
    background-color: var(--main4);
    color: #fff;}
.button-login:active {
    border-color: var(--main4);
    background-color: var(--main4);
    color: #fff;}
.connexion input:checked {
    border-color: var(--main3)!important;
    background-color: var(--main3)!important;
}

/*======================= Modal =======================*/
.modal-content {
    border-radius: 8px!important;
    border: 2px solid var(--main4);}
.modal-header {
    display: block!important;
    background-color: var(--main4);
    color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 3px 0;
    text-align: center;}
.modal-body {
    padding-top: 12px!important;
    padding-bottom: 12px!important;}
.en-tete-dialog {
    font-weight: 900;
    text-align: center;}

/*================== Liste des élèves ===================*/
.listEleve {
    margin: 8px;
    background-color: white;
    position: absolute!important;
    overflow: auto!important;
    inset: 0!important;
    top: 132px!important;}
.tableListEleve {font-size: 0.9rem!important;}
.classe-disabled {font-weight: 900!important;}
.bandeau-annonce {
    font-weight: 800;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 5px!important;}

/*================== Détail des notes ==================*/
.detail-notes .column-notes {
    position: absolute;
    inset: 0;
    right: 50%;
    padding-right: 5px!important;
    overflow-y: auto!important;
    box-shadow: 0.6rem 0.05rem 0.6rem -0.6rem rgba(0, 0, 0, 0.1607843137);}
.detail-notes .column-notes-dates {
    align-self: center;
    width: 35px;}
.detail-notes label {
    padding: 8px 16px!important;
    margin: 0;}
.detail-notes .date-notes {
    background-color: var(--main1);
    color: var(--main5);
    align-self: start;
    border-radius: 7px;
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    line-height: 0.95;
    padding: 5px 6px;
    text-align: center;}
.detail-notes .after-date-notes {
    margin-top: 3px;
    border-radius: 18px;
    height: 4px!important;}
.detail-notes .descriptif-notes {
    padding-left: 10px;
    line-height: 1.2;
    font-size: 0.93rem;
    min-width: calc(100% - 35px);}
.descriptif-notes-matiere {
    text-transform: uppercase;
    font-weight: 800;}
.descriptif-notes-de-la-matiere {font-weight: 800;}
.detail-notes .descriptif-notes-moyenne {
    font-size: 0.85rem;
    font-weight: 200;}
.detail-notes .descriptif-notes-name-controle {
    font-size: 0.85rem;
    font-weight: 700;}
.detail-notes .column-note {padding: 15px 10px!important;}
.detail-notes .column-note-icon {
    margin-top: 5px;
    align-self: start;
    width: 35px;}
.detail-notes .logo-note {
    background-color: var(--main1);
    color: var(--main4);
    padding: 6px;
    border-radius: 25px;
    font-weight: 900;}
.detail-notes .titre-de-la-note {
    padding-left: 10px;
    line-height: 1.1;
    font-size: 0.93rem;}
.detail-notes .description-de-la-note {
    font-size: 0.93rem;}
.detail-notes .description-note {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    margin-bottom: 3px;
    font-weight: 200;}
.detail-notes .notes-eleves {
    color: var(--main4);
    font-weight: 600;}
.detail-notes .notes-active {background-color: #caefe1bd;}
.detail-notes .bordure-nom-matiere {
    width: 4px;
    height: 18px;
    border-radius: 18px;
    margin-right: 10px;}
.detail-notes .nom-matiere {
    text-transform: uppercase;
    font-weight: 800;
    color: var(--main4);
    font-size: 1.2rem;}
.detail-notes .nom-note {
    font-weight: 800;
    color: var(--main4);
    font-size: 1.2rem;}
.moyenne-generale {
    z-index: 100;
    padding: 5px;
    position: absolute;
    height: 90px;
    bottom: 0;
    left: 0;
    right: 50%;
    box-shadow: 0.05rem -0.1rem 0.6rem 0rem rgba(0, 0, 0, 0.1607843137);
    background-color: #fff;}
.moyenne-generale-sous-block {
    background-color: var(--main1);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}
.nom-moyenne-eleve {
    font-weight: 800;
    color: var(--main4);
    font-size: 1.2rem;
    margin-bottom: 7px;}
.nom-moyenne-classe {font-weight: 600;}

/*============= Design des tables ===============*/
.table-releve, .table-saisie, .table-appreciation {
    border-collapse: collapse!important;
    border-spacing: 0!important;
    margin: 4px;
    font-size: 0.75rem;}
.table-releve thead, .table-saisie thead, .table-appreciation thead {
    border-bottom: 2px solid var(--main4);
    background-color: #f8f8f8;
    border-left: 1px solid #c6c6c6;
    color: var(--main4);}
.table-releve thead th, .table-saisie thead th, .table-appreciation thead th {
    padding: 1px 2px;
    min-height: 22px;
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    text-align: center;
    font-weight: 800;}

/*============= Relevé de notes ===============*/
.table-releve tbody {border-left: 1px solid #c6c6c6;}
.table-releve tbody tr:last-child {border-bottom: 1px solid #c6c6c6;}
.table-releve tbody td {
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    vertical-align: top;
    line-height: 14px;
    padding: 4px 3px 8px;
    font-weight: 200;}
.table-releve .matiere {min-width: 295px;}
.table-releve .moyenne, .table-saisie .moyenne, .table-appreciation .moyenne {
    background-color: #6b6e77;
    min-width: 56px;}
.table-releve .devoirs {min-width: 78px;}
.table-releve .moyenne-elem, .table-saisie .moyenne-elem, .table-appreciation .moyenne-elem {
    color: #fff;
    font-weight: 700;
    text-align: end;}
.table-releve .note-elem {text-align: end;}
.table-releve .nom-matiere {text-transform: uppercase;}
.table-releve .note-elem-important {font-weight: 900;}
.table-releve .note-elem-sur-20 {
    padding-left: 2px;
    font-size: 0.7rem;}
.table-releve .note-elem-info {
    padding-top: 1px;
    line-height: 11px;
    font-size: 0.6rem;}
.table-releve .releve-moyenne-generale, .table-saisie .releve-moyenne-generale, .table-appreciation .releve-moyenne-generale {
    background-color: #fff;
    padding-right: 3px;
    font-weight: 200;
    text-align: end;}
.table-releve .releve-moyenne-generale-note, .table-saisie .releve-moyenne-generale-note, .table-appreciation .releve-moyenne-generale-note {
    padding: 1px 3px;
    background-color: #6b6e77;
    color: #fff;
    text-align: end;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;}
.appreciation {
    position: relative;
    padding: 0!important;
    margin: 0!important;}
.appreciation form {
    position: absolute;
    inset: 0;}
.appreciation textarea {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 3px 4px;
    margin: 0px;
    vertical-align: top;
    box-sizing: border-box;
    border: none;
    resize: none;
    overflow-y: hidden;
    border-radius: 0;
    background-color: inherit;}
.appreciation textarea:disabled {
    cursor: not-allowed;
    background-color: #f8f8f8!important;}
.appreciation textarea:focus {
    cursor: text;
    vertical-align: top;
    outline: none;
    text-align: start;
    padding: 3px 4px;
    overflow-y: hidden;
    border: 1px solid var(--main3);}
.app-elv-parent {padding: 3px 4px!important;}

/*============= Saisie des notes ===============*/
.table-saisie thead th {padding: 3px 2px;}
.table-saisie tbody {border-left: 1px solid #c6c6c6;}
.table-saisie tbody tr:last-child {border-bottom: 1px solid #c6c6c6;}
.table-saisie tbody td:not(.table-saisie tbody .enter-des-notes) {
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    padding: 5px 3px;
    font-weight: 200;}
.table-saisie tbody .enter-des-notes {
    padding: 0;
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;}
.table-saisie .note-elem {text-align: end;}
.table-saisie tbody tr:nth-child(even) {background-color: #f8f8f8;}
.table-saisie tbody tr .devoir:not(.table-saisie tbody tr:nth-child(even) .devoir) {background-color: #ededed;}
.table-saisie tbody tr:nth-child(even) .devoir {background-color: #e2e2e2;}
.table-saisie tbody tr .enter-note {
    cursor: pointer;
    border: 0px;
    padding: 5px 3px;
    background-color: inherit;
    width: 57px;
    text-align: end;}
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border: 0.4px solid var(--main5);
    --bs-popover-border-radius: 0px;
    --bs-popover-font-size: 0.8rem;
    --bs-popover-body-padding-x: 0.4rem;
    --bs-popover-body-padding-y: 0.15rem;
    --bs-popover-body-color: var(--main5);}
.table-saisie tbody tr .enter-des-notes input:focus {
    cursor: text;
    outline: none;
    padding: 4px 3px;
    border: 1px solid var(--main4);}
.listEleve .info-note {
    margin: 5px;
    font-style: italic;
    font-size: 0.7rem;
    line-height: 13px;}
.listEleve .info-note .caract {
    padding-left: 9px;
    font-weight: 800;}
.table-saisie .modifier-devoir {
    font-weight: 600;
    font-style: italic;
    background-color: inherit;
    color: #000;
    margin: 0;
    padding: 4px 0 4.8px;
    border: 0;
    font-size: inherit;
    min-width: 57px;
    text-align: center;
    border-radius: 0px;}
.table-saisie .modifier-devoir:active {
    background-color: inherit;
    color: #000;}
.modal-devoir .devoir-dialog {font-size: 0.9rem;}
.modal-devoir .text-dialog {
    color: var(--main5);
    width: 120px;}
.modal-devoir .devoir-saisie {width: calc(100% - 120px);}
.modal-devoir .devoir-saisie input {
    cursor: pointer;
    border: 1px solid var(--main3);
    background-color: inherit;
    padding: 0px 4px;
    border-radius: 3px;
    text-align: start;}
.modal-devoir .devoir-saisie input:focus {
    cursor: text;
    outline: none;
    text-align: start;
    padding: 0px 4px;
    border: 1px solid var(--main3);}
.modal-devoir .footer-dialog {text-align: end;}
.modal-devoir .footer-dialog input, .modal-devoir .delete-button-devoir {
    background-color: #caefe1!important;
    color: #000!important;
    font-size: 0.92rem!important;
    border-radius: 12px!important;
    border-color: #caefe1!important;
    padding: 3px 9px!important;
    margin-right: 2px!important;}
.modal-devoir .footer-dialog #footer-cree {
    background-color: var(--main3)!important;
    color: #fff!important;
    font-size: 0.92rem!important;
    border-radius: 12px!important;
    border-color: var(--main3)!important;
    padding: 3px 9px!important;}
.modal-devoir .footer-dialog input:hover, .modal-devoir .footer-dialog #footer-cree:hover, .modal-devoir .delete-button-devoir:hover {
    background-color: var(--main4)!important;
    color: #fff!important;
    font-size: 0.92rem!important;
    border-radius: 12px!important;
    border-color: var(--main4)!important;
    padding: 3px 9px!important;}
.modal-devoir .nom-matiere-devoir {text-transform: uppercase;}

/*============ Saisie des appréciations ==============*/
.table-appreciation tbody {border-left: 1px solid #c6c6c6;}
.table-appreciation tbody tr:last-child {border-bottom: 1px solid #c6c6c6;}
.table-appreciation tbody td {
    border-top: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    vertical-align: top;
    line-height: 14px;
    padding: 4px 3px 45px;
    font-weight: 200;}
.table-appreciation .note-elem {
    font-weight: 700;
    text-align: end;}

/*============= Contact de l'établissement ==============*/
#contactEtablissement .modal-body, #monCompte .modal-body {font-size: 0.75rem;}
.name-modal {
    font-weight: 700;
    font-size: 1.1rem;}
.btn-close-modal {font-size: 0.7rem;}
.modal-logo {
    text-align: center;
    color: var(--main4);
    width: 30px;}
.modal-description a {
    color: var(--main4);}