:root {
    --main1: rgb(41, 148, 122);
    --main2: rgb(30, 141, 115);
    --main3: rgb(205, 221, 216);
    --background-color: #fff;
    --background: linear-gradient(to left bottom in oklab, rgb(236, 244, 242) 0px, rgb(255, 255, 255) 60%);
    --color: #232425;
    --hover: rgba(6, 6, 8, 0.66);
}