/**************************************************/
/*                      LINK                      */
/**************************************************/
a {
    color: inherit!important;
    text-decoration: none!important;
}


/**************************************************/
/*                     BUTTON                     */
/**************************************************/
.btn {
    border-radius: 1.5rem;
    padding: 4px 14px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &.btn-primary {
        border-color: var(--main1);
        background-color: var(--main1);
        color: var(--background-color)!important;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.884068 -0.018382 0.001526 / 0.4) 0px 4px 6px -1px, oklab(0.884068 -0.018382 0.001526 / 0.4) 0px 2px 4px -2px;

        &:hover, &:active, &:disabled {
            border-color: var(--main2)!important;
            background-color: var(--main2)!important;
            transform: translateY(-0.5px);
        }
    }
    &.btn-secondary {
        border-color: rgb(205, 221, 216);
        background-color: var(--background-color);
        color: var(--color);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.884068 -0.018382 0.001526 / 0.4) 0px 4px 6px -1px, oklab(0.884068 -0.018382 0.001526 / 0.4) 0px 2px 4px -2px;

        &:hover, &:active, &:disabled {
            border-color: rgb(205, 221, 216);
            background-color: var(--background-color);
            color: var(--color);
            transform: translateY(-0.5px);
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.884068 -0.018382 0.001526 / 0.4) 0px 1px 2px 0px, oklab(0 0 0 / 0) 0px 0px 0px 0px;
        }
    }
}