header {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.230468 -0.006263 0.000101 / 0.08) 0px 1px 0px 0px;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 32px;

        > div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            max-width: 215px;

            > img {margin-right: 10px;}

            .copyright {
                font-size: 11px;
                font-weight: 300;
                line-height: 13px;
            }
        }
    }

    > nav {
        padding: 5px 20px 0;

        .x-link {
            display: flex;
            align-items: center;
            justify-content: center;

            > div {
                margin: 8px 6px;
                font-size: 14px;
                color: rgb(96, 115, 109);

                &:first-child {margin-left: 0;}
                &:last-child {margin-right: 0;}

                > a {
                    display: inline-block;
                    position: relative;
                    padding: 4px 12px;
                    border-radius: 1.5em;
                    
                    &:hover {background-color: rgba(236, 244, 242, 0.604);}
                }

                &.x-active > a {
                    color: rgb(41, 148, 122)!important;
                    background-color: rgb(224, 242, 236);
                    
                    &:hover {background-color: rgb(224, 242, 236);}

                    &::after {
                        display: block;
                        position: absolute;
                        bottom: -8px;
                        left: 12px;
                        right: 12px;
                        content: "";
                        height: 2px;
                        background-color: rgb(41, 148, 122);
                    }
                }
            }
        }
    }
}


/*************************************************/
/*                   RESPONSIVE                  */
/*************************************************/
@media (max-width: 576px) {
    header .offcanvas-body > .x-link {
        flex-direction: column;

        > div {
            font-size: 16px;
            width: 100%;

            > a {
                width: 100%;
                padding: 5px 12px;
                border-radius: 1em;
            }

            &.x-active > a::after {
                bottom: 8px;
                top: 8px;
                left: 0;
                width: 2px;
                height: initial;
            }
        }
    }
}