header {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.230468 -0.006263 0.000101 / 0.08) 0px 1px 0px 0px;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 32px;

        > div:first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 500;

            > img {margin-right: 10px;}
        }
    }

    > nav {
        padding: 5px 20px 0;

        .x-link {
            display: flex;
            align-items: center;
            justify-content: center;

            > div {
                margin: 8px 6px;
                font-size: 14px;
                color: rgb(96, 115, 109);

                &:first-child {margin-left: 0;}
                &:last-child {margin-right: 0;}

                > a {
                    display: inline-block;
                    position: relative;
                    padding: 4px 12px;
                    border-radius: 1.5em;
                    
                    &:hover {background-color: rgba(236, 244, 242, 0.604);}
                }

                &.x-active > a {
                    color: rgb(41, 148, 122)!important;
                    background-color: rgb(224, 242, 236);
                    
                    &:hover {background-color: rgb(224, 242, 236);}

                    &::after {
                        display: block;
                        position: absolute;
                        bottom: -8px;
                        left: 12px;
                        right: 12px;
                        content: "";
                        height: 2px;
                        background-color: rgb(41, 148, 122);
                    }
                }
            }
        }
    }
}





/*
header {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    background-color: var(--background);
    top: 0;
    
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, oklab(0.230468 -0.006263 0.000101 / 0.08) 0px 1px 0px 0px;

    /* Navbar button
    .x-navbar-button {
        display: flex;
        align-items: center;
        margin-left: 12px;
        padding: 2px 14px 2px 2px;
        border: 2px solid var(--color);
        border-radius: 20px;

        .x-logo-user {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 12px;
            height: 32px;
            width: 32px;
            background-color: var(--color);
            color: var(--background);
            border-radius: 50%;
        }

        i.fa-bars {font-size: 16px;}
    }

    /* Offcanvas navbar
    #x-navbar-items .offcanvas-body > div:first-of-type {
        /* Navbar 
        > div:first-of-type {
            display: flex;
            flex-direction: row;
            
            > a {
                display: flex;
                align-items: center;
                height: 64px;
                margin: 0 12px;
                border-top: 2px solid var(--background);
                border-bottom: 2px solid var(--background);

                &:hover, &.x-active {border-bottom: 2px solid var(--color);}
            }
        }

        /* Information profile and login 
        > div:last-of-type {
            margin-left: 12px;
        
            a:hover {
                > div > i {color: rgba(255, 255, 255, 0.6);}
                > i {color: rgb(0, 0, 0, 0.6);}
            }
        }
    }
}


/*************************************************
/*                   RESPONSIVE                   
/*************************************************
@media (max-width: 991px) {
    .x-navbar-button {
        cursor: pointer;

        &:hover {background-color: rgb(0, 0, 0, 0.10);}
    }

    header nav {
        height: 64px;
        
        #x-navbar-items {
            background-color: #232425;
            color: #fff;
            width: 100%;

            .offcanvas-body {
                padding: 0;
                font-family: Montserrat;

                .btn-close {
                    font-size: 21px;
                    margin: 16px 16px 100px;
                }

                /* Navbar 
                > div:first-of-type > div:first-of-type {
                    display: block;
                    width: 100%;
                    
                    > a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: auto;
                        font-size: 40px;
                        font-weight: 700;
                        margin: 0;
                        padding: 16px 32px;
                        border: 0;

                        &:hover, &.x-active {
                            background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 12%, var(--main1) 50%);
                            border-bottom-color: rgb(238, 239, 242);
                            border-bottom: 0;
                        }

                        > div {
                            width: 75%;
                            line-height: 35px;
                        }
                    }
                }

                /* Information profile and login 
                .x-info {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    text-align: right;
                    margin: 32px;
                    
                    > div:first-of-type {
                        > div:first-child {
                            font-size: 22px;
                            font-weight: 700;
                            margin-top: 38px;
                        }

                        > a {
                            display: block;
                            font-size: 18px;

                            &:hover {text-decoration: underline;}
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    header nav #x-navbar-items .offcanvas-body {
        .btn-close {margin-bottom: 50px;}

        /* Navbar 
        > div:first-of-type > div:first-of-type > a {
            font-size: 24px;
            font-weight: 700;

            > div {
                line-height: 28px;
                width: 100%;
            }
        }

        /* Information profile and login 
        .x-info {
            position: relative;
            margin: -20px 32px 16px;
        }
    }
}
*/